{% extends 'app/_template.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
  <div id="content" articleSlug="{{ app.request.get('slug') }}"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('show-screen') }}
{% endblock %}